<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.HouseDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.House">
        <result column="id" property="id" />
        <result column="hostId" property="hostId" />
        <result column="title" property="title" />
        <result column="houseInfo" property="houseInfo" />
        <result column="trafficCondition" property="trafficCondition" />
        <result column="surroundCondition" property="surroundCondition" />
        <result column="facility" property="facility" />
        <result column="bathroom" property="bathroom" />
        <result column="electricAppliances" property="electricAppliances" />
        <result column="claim" property="claim" />
        <result column="description" property="description" />
        <result column="dailyPrice" property="dailyPrice" />
        <result column="deposit" property="deposit" />
        <result column="addGuest" property="addGuest" />
        <result column="otherPrice" property="otherPrice" />
        <result column="tradingRules" property="tradingRules" />
        <result column="breakContact" property="breakContact" />
        <result column="leastDay" property="leastDay" />
        <result column="mostDay" property="mostDay" />
        <result column="receiveOutside" property="receiveOutside" />
        <result column="otherRequirement" property="otherRequirement" />
        <result column="tip" property="tip" />
        <result column="address" property="address" />
        <result column="rentalType" property="rentalType" />
        <result column="rentalTypeText" property="rentalTypeText" />
        <result column="peopleNum" property="peopleNum" />
        <result column="roomNum" property="roomNum" />
        <result column="hallNum" property="hallNum" />
        <result column="bathroomNum" property="bathroomNum" />
        <result column="kitchenNum" property="kitchenNum" />
        <result column="balconyNum" property="balconyNum" />
        <result column="roomArea" property="roomArea" />
        <result column="liveWithOwner" property="liveWithOwner" />
        <result column="bed" property="bed" />
        <result column="replaceBedSheet" property="replaceBedSheet" />
        <result column="haveReviewed" property="haveReviewed" />
        <result column="type" property="type" />
        <result column="picOne" property="picOne" />
        <result column="picAll" property="picAll" />
        <result column="bathroomType" property="bathroomType" />
        <result column="approveMessage" property="approveMessage" />
    </resultMap>

    <parameterMap id="House" type="org.spring.springboot.domain.House"/>

    <sql id="Base_Column_List">
        id,hostId,title,houseInfo,trafficCondition,surroundCondition,facility,bathroom,electricAppliances,facility,claim,description,
        dailyPrice,deposit,addGuest,otherPrice,tradingRules,breakContact,leastDay,mostDay,receiveOutside,otherRequirement,tip,
        address,rentalType,rentalTypeText,peopleNum,roomNum,hallNum,bathroomNum,kitchenNum,balconyNum,roomArea,liveWithOwner,bed,replaceBedSheet,
        haveReviewed,type,picOne,picAll,bathroomType,approveMessage
    </sql>

    <!-- 创建房源 -->
    <insert id="createAnHouse" parameterMap="House">
        INSERT INTO house(id,hostId) VALUES (#{id},#{hostId})
    </insert>

    <select id="FindMaxRoomId" resultType="java.lang.Long">
    select max(id) from house
    </select>

    <select id="findByRoomId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from house
        where id = #{id}
    </select>


    <select id="getHouseTitle" parameterType="java.lang.Long" resultType="java.lang.String">
        select title
        from house
        where id = #{id}
    </select>

    <select id="getHostId" parameterType="java.lang.Long" resultType="java.lang.String">
        select hostId
        from house
        where id = #{id}
    </select>

    <update id="updateDescription" parameterMap="House">
        update
        house
        set
            hostId = #{hostId},
            title = #{title},
            description = #{description},
            houseInfo = #{houseInfo},
            trafficCondition = #{trafficCondition},
            surroundCondition = #{surroundCondition}
        where
        id = #{id}
    </update>

    <update id="updateFacilities" parameterMap="House">
        update
        house
        set
        bathroom = #{bathroom},
        electricAppliances = #{electricAppliances},
        claim = #{claim},
        surroundCondition = #{surroundCondition}
        where
        id = #{id}
    </update>

    <update id="updatePriceRule" parameterMap="House">
        update
        house
        set
        dailyPrice = #{dailyPrice},
        deposit = #{deposit},
        addGuest = #{addGuest},
        otherPrice = #{otherPrice}
        where
        id = #{id}
    </update>

    <update id="updateRuleRequirement" parameterMap="House">
        update
        house
        set
        tradingRules = #{tradingRules},
        breakContact = #{breakContact},
        leastDay = #{leastDay},
        mostDay = #{mostDay},
        receiveOutside = #{receiveOutside},
        otherRequirement = #{otherRequirement},
        tip = #{tip}
        where
        id = #{id}
    </update>

    <update id="updateBaseInfo" parameterMap="House">
        update
        house
        set
        address = #{address},
        rentalType = #{rentalType},
        rentalTypeText = #{rentalTypeText},
        peopleNum = #{peopleNum},
        roomNum = #{roomNum},
        hallNum = #{hallNum},
        bathroomNum = #{bathroomNum},
        kitchenNum = #{kitchenNum},
        balconyNum = #{balconyNum},
        roomArea = #{roomArea},
        liveWithOwner = #{liveWithOwner},
        bed = #{bed},
        replaceBedSheet = #{replaceBedSheet},
        bathroomType = #{bathroomType}
        where
        id = #{id}
    </update>

    <update id="updateApproveMessage" parameterMap="House">
        update
        house
        set
        approveMessage = #{approveMessage}
        where
        id = #{id}
    </update>

    <select id="getHouseList" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from house
        where haveReviewed = #{haveReviewed}
    </select>

    <select id="findHouseByHostId" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from house
        where hostId = #{hostPhoneNumber}
    </select>

    <select id="findHouseByAddress" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from house
        where address = #{address}
    </select>

    <select id="findHouseByTitle" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from house
        where title = #{title}
    </select>

    <update id="updateReviewed" parameterMap="House">
        update
        house
        set
        haveReviewed = #{haveReviewed}
        where
        id = #{id}
    </update>

    <select id="findHaveReviewedHouse" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from house
        where haveReviewed = 1
    </select>

    <select id="findTypeHouse" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from house
        where haveReviewed = 1 and type = #{type}
    </select>

    <select id="isReviewed" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from house
        where haveReviewed = #{haveReviewed}
    </select>

    <delete id="RemoveHouse" parameterMap="House">
        delete from
        house
        where
        id = #{roomId}
    </delete>

</mapper>
