<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.MessageDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Message">
        <result column="id" property="id" />
        <result column="messageTitle" property="messageTitle" />
        <result column="messageContent" property="messageContent" />
        <result column="time" property="time" />
    </resultMap>

    <parameterMap id="Message" type="org.spring.springboot.domain.Message"/>

    <sql id="Base_Column_List">
        id,messageTitle,messageContent,time
    </sql>

    <insert id="saveMessage" parameterMap="Message">
        insert into
        message(messageTitle,messageContent)
        values
        (#{messageTitle},#{messageContent})
    </insert>

    <select id="getAll" resultMap="BaseResultMap" resultType="Message">
        select
        <include refid="Base_Column_List" />
        from message
    </select>

</mapper>
